* {
    box-sizing: border-box;
    border-radius: 3px;
  }

  html {
    font:
      1.2em/1.4 Arial,
      Helvetica,
      sans-serif;
  }

  body {
    padding: 0;
    border: 0;
  }

  header {
    background-color: #333;
    width: 100vw;
    margin: 0;
    border: 0;
    color: #fff;
  }

  header ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  header a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 0.5em 1em;
    border-top: 1px solid #999;
  }

  header .title {
    background-color: #b3b3b3;
    background-image: url(../images/banner-logo-responsive.jpg);
    width: 43px;
    height: 43px;
    background-position: -730px -257px;
    text-indent: -99999px;
  }

  main {
    padding: 0 1em;
  }

  .cards {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .cards li {
    margin-bottom: 1em;
    background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 100%);
  }

  .cards h2 {
    background-color: #333;
    color: #fff;
    margin: 0;
    padding: 0.5em 1em;
  }

  .cards .inner {
    padding: 0.5em 1em;
  }

  .sidebar {
    background-color: #333;
    padding: 0.5em 1em;
    color: #fff;
  }

  @media screen and (min-width:431px){
    header .title {
      width: 55px;
      height: 55px;
      background-position: -725px -193px;

    }
    

  }
  @media screen and (min-width:1025px){
    header .title {
      width: 66px;
      height: 66px;
      background-position: -720px -120px;
    }
    .contenido1 {
      display: flex;
      justify-content: center;

    }
    .contenido2 {
      display: flex;
    }
    .cards li{
      margin-right: 20px;
    }
      
    }

  @media screen and (min-width:1201px){
    header .title {
      width: 105px;
      height: 105px;
      background-position: -700px 0px;
    }
    .contenido1{
      justify-content: space-around;
      
    }
  }